* { 
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box; /*Para que o padding não aumente o tamanho do elemento*/
                                                
} 
body{
    background-color: #f6f8fc;
}

.content {
    padding: 1rem; 
    background-color: #fff; 
    height: 100vh; 
    width: 100vw;
} 

@media  screen and (min-width: 768px) {
    .content {
        max-width: 992px; 
        margin: 1rem auto;  
        height: auto;
    }
}
    

